<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Huynh Bao</h1>
    <p>
      <ngx-typed-js
        [strings]="['Developer']" [loop]="true" [typeSpeed]="100" [backSpeed]="50" [backDelay]="2000"
      >
        I'm <span class="typing"></span>
      </ngx-typed-js>
    </p>
    <div class="social-links">
      <a href="https://www.facebook.com/huynhbao.isme" class="facebook"
        ><i class="bx bxl-facebook"></i
      ></a>
      <a href="https://github.com/HuynhBao" class="github"
        ><i class="bx bxl-github"></i
      ></a>
    </div>
  </div>
</section>
<!-- End Hero -->
